.App {
    position: relative;
    background-color: rgb(121, 177, 37);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: center;
}

.App-conainer {
    width: 100%;
    max-width: 1199px;
}

.first-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.second-header{
  display: flex;
  gap: 15px;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: #9fcdff;

  &.active {
    color: gold;
  }

  &:hover {
    color: gold;
  }
}

.header-reg-cart {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;

    :hover g {
        fill: orange;
    }

  @media screen and (max-width: 380px) {
    gap: 0px;
    margin-left: -30px;
  }
}

.App-logo {
    height: 40vmin;
    max-height: 110px;
    pointer-events: none;
}

.link-register {
    cursor: pointer;

    &:hover {
        color: orange;
    }
}

.cart-img {
    height: 50px;
    cursor: pointer;
}

.fav-img {
    height: 50px;
    cursor: pointer;
}

.int-cart,
.int-fav {
    display: block;
    width: 18px;
    height: 18px;
    z-index: 2;
    position: absolute;
    top: 0;
    background-color: white;
    color: red;
    border-radius: 50%;
    font-size: 17px;
}

.int-cart {
    right: 72px;
}

.int-fav {
    right: 5px;
}

.cart-list,
.fav-list {
    display: none;
    width: 100%;
    position: absolute;
    top: 45px;
    right: 5px;
}

.hover-cart:hover .cart-list {
    display: block;
}
.hover-fav:hover .fav-list {
    display: block;
}

.star-icon {
    width: 30px;
    height: 30px;
    color: white;
}

.star-icon-on {
    width: 30px;
    height: 30px;
    color: rgb(255, 220, 100);
}

.stars {
    cursor: pointer;
    display: inline;

    &:hover .star-icon {
        color: rgb(255, 220, 100);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
